<div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" class="details">
        <div fxFlex="30" fxLayout="column" fxLayoutGap="2vh" fxFlexOrder="1" fxFlexOrder.lt-md="2">
            <div *ngIf="location.address">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        {{location.address}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Opening hours</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <div *ngFor="let openingTime of location.openingTimes" [ngSwitch]="openingTime.closed">
                            <span *ngSwitchCase="true">
                                closed
                            </span>
                            <span *ngSwitchDefault>
                                {{openingTime.days}}: {{openingTime.opening}} - {{openingTime.closing}}
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Facilities</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <span *ngFor="let facility of location.facilities" class="badge  badge-warning">
                            <mat-icon>check</mat-icon> {{facility}}
                        </span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div fxFlex="40" fxFlexOrder="2" fxFlexOrder.lt-md="1">
            <mat-card class="map">
                <mat-card-header>
                    <mat-card-title>Location Map</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <!-- large devices -->
                    <app-maps fxHide.lt-md fxShow [latitude]="location.coords.coordinates[1]"
                        [longitude]="location.coords.coordinates[0]" [customHeight]="500" [customWidth]="500"
                        [locations]="locations"></app-maps>
                    <!-- medium devices -->
                    <app-maps fxShow.lt-md fxHide.lt-sm fxHide [latitude]="location.coords.coordinates[1]"
                        [longitude]="location.coords.coordinates[0]" [customHeight]="500" [customWidth]="650"
                        [locations]="locations"></app-maps>
                    <!-- small devices -->
                    <app-maps fxShow.lt-sm fxHide [latitude]="location.coords.coordinates[1]"
                        [longitude]="location.coords.coordinates[0]" [customHeight]="350" [customWidth]="350"
                        [locations]="locations"></app-maps>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30" fxFlexOrder="3">
            <div fxFlexLayout="column">
                <div>
                    <app-reviews [location]="location"></app-reviews>
                </div>
            </div>
        </div>
    </div>
</div>