<div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1vw" class="details">
        <div fxFlex="30" fxLayout="column" fxLayoutGap="2vh">
            <div *ngIf="location.address">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        {{location.address}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Opening hours</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <div *ngFor="let openingTime of location.openingTimes" [ngSwitch]="openingTime.closed">
                            <span *ngSwitchCase="true">
                                closed
                            </span>
                            <span *ngSwitchDefault>
                                {{openingTime.days}}: {{openingTime.opening}} - {{openingTime.closing}}
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Facilities</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <span *ngFor="let facility of location.facilities" class="badge  badge-warning">
                            <mat-icon>check</mat-icon> {{facility}}
                        </span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div fxFlex="40">
            <mat-card class="map">
                <mat-card-header>
                    <mat-card-title>Location Map</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location.coords.coordinates[1]}},{{location.coords.coordinates[0]}}&zoom=14&size=250x200&sensor=false&markers={{location.coords.coordinates[1]}},{{location.coords.coordinates[0]}}&key={{gApiKey}}&scale=2"
                        mat-card-image />
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30">
            <div fxFlexLayout="column">
                <div>
                    <app-reviews [location]="location"></app-reviews>                    
                </div>
            </div>
        </div>
    </div>
</div>
