<div *ngIf="rating" fxLayout="row" fxLayoutGap="1vw">
    <div *ngIf="displayRating">
        <h1>{{rating| number: '1.1'}}</h1>
    </div>
    <div [ngClass]="{'big-stars': displayRating}">
        <span class="stars" *ngFor="let in of counter(rating); let i=index">
            <mat-icon>star</mat-icon>
        </span>
        <span class="stars" *ngFor="let in of counter(5-rating); let i=index">
            <mat-icon>star_border</mat-icon>
        </span>
    </div>
    <div *ngIf="reviewsCount">
        <h3><a class="embedded-link" (click)="showReviews()">{{reviewsCount}} reviews</a></h3>
    </div>
</div>