mat-form-field {
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
      color: yellow;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 7px;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-error {
  font-weight: normal;
}

.btn-tool-icon {
  margin-right: 1vw !important;
  padding: 0 !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
}

.sun,
.moon {
  left: 0;
  width: 100%;
  height: auto;
  transition: top 0.3s;
}

.theme-svg {
  width: 2rem !important;
  height: 2rem !important;
}

.sun {
  @extend .theme-svg;
  top: 0;
}

.moon {
  @extend .theme-svg;
  top: -150%;
}

// // .mat-form-field-wrapper .ng-star-inserted,
// .mat-form-field-infix .mat-input-element {
//     font-size: 14pt !important;
// }

// .mat-form-field-wrapper .ng-star-inserted .mat-error{
//   font-size: 12pt !important;
// }