<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button fxShow fxHide.gt-sm routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
            <a class="main-title" routerLink="/home" mat-button>Locator</a>
            <div fxShow fxHide.lt-md>
                <a routerLink="/home" mat-button>Home</a>
                <a routerLink="/about" mat-button>About</a>
            </div>
            <span class="menu-spacer"></span>
            <div fxShow fxHide.lt-md>
                <a routerLink="/login" *ngIf="!isLoggedIn()" mat-button>Sign in</a>
                <button mat-button *ngIf="isLoggedIn()" [matMenuTriggerFor]="menuUser">
                    {{getCurrentUserName()}}
                </button>
                <mat-menu #menuUser="matMenu">
                    <button mat-menu-item (click)="doLogout()">Logout</button>
                </mat-menu>
            </div>
            <div fxShow fxHide.gt-sm>
                <button mat-icon-button fxShow fxHide.gt-sm [matMenuTriggerFor]="menuSm">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menuSm="matMenu">
                    <mat-nav-list>
                        <a routerLink="/login" *ngIf="!isLoggedIn()" mat-list-item>Sign in</a>
                        <mat-divider *ngIf="!isLoggedIn()"></mat-divider>
                        <a routerLink="/home" mat-list-item>Home</a>
                        <mat-divider></mat-divider>
                        <a routerLink="/about" mat-list-item>About</a>
                    </mat-nav-list>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<main class="content" role="main">
    <router-outlet>
    </router-outlet>
</main>

<footer class="footer">
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center">
        <small class="primary-color">&copy; Getting Mean - Parthiban Sekar 2021</small>
    </div>
</footer>