<header>
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">Loc8r</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!-- <fa-icon [icon]="['fas', 'bars']"></fa-icon> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container content" role="main">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <hr>
        <span><small>&copy; Getting Mean - Parthiban Sekar 2021</small></span>
    </div>
</footer>