<div class="app mat-app-background">
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button fxShow fxHide.gt-sm routerLink="/home">
                    <mat-icon>home</mat-icon>
                </button>
                <a class="main-title" routerLink="/home" mat-button>Locator</a>
                <div fxShow fxHide.lt-md>
                    <button routerLink="/home" mat-button>Home</button>
                    <button routerLink="/about" mat-button>About</button>
                </div>
                <span class="menu-spacer"></span>
                <div fxShow fxHide.lt-md>
                    <button routerLink="/login" *ngIf="!isLoggedIn()" matTooltip="Sign in" mat-button>
                        <mat-icon>login</mat-icon>
                    </button>
                    <button *ngIf="isLoggedIn()" (click)="doLogout()" matTooltip="Sign out" mat-button>
                        <mat-icon>logout</mat-icon>
                    </button>
                    <button mat-button (click)="changeTheme('dark-theme')" matTooltip="Dark mode" class="btn-tool-icon"
                        *ngIf="!darkModeOn">
                        <mat-icon>dark_mode</mat-icon>
                    </button>
                    <button mat-button (click)="changeTheme('light-theme')" matTooltip="Light mode"
                        class="btn-tool-icon" *ngIf="darkModeOn">
                        <mat-icon>light_mode</mat-icon>
                    </button>
                    <button mat-button class="btn-tool-icon" matTooltip="Settings" routerLink="/settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
                <div fxShow fxHide.gt-sm>
                    <button fxShow fxHide.gt-sm (click)="changeTheme('dark-theme')" *ngIf="!darkModeOn" mat-button>
                        <mat-icon>dark_mode</mat-icon>
                    </button>
                    <button fxShow fxHide.gt-sm (click)="changeTheme('light-theme')" *ngIf="darkModeOn" mat-button>
                        <mat-icon>light_mode</mat-icon>
                    </button>
                    <button mat-icon-button fxShow fxHide.gt-sm [matMenuTriggerFor]="menuSm">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menuSm="matMenu">
                        <mat-nav-list>
                            <button routerLink="/login" *ngIf="!isLoggedIn()" color="primary" mat-button>Sign
                                in</button>
                            <mat-divider *ngIf="!isLoggedIn()"></mat-divider>
                            <button routerLink="/home" color="primary" mat-button>Home</button>
                            <mat-divider></mat-divider>
                            <button routerLink="/about" color="primary" mat-button>About</button>
                            <mat-divider></mat-divider>
                            <button routerLink="/settings" color="primary" mat-button>Settings</button>
                        </mat-nav-list>
                    </mat-menu>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <main class="content" role="main" fxLayout="column" fxLayoutGap="1vh">
        <div *ngIf="isLoggedIn()" class="accent-color">
            Hello, you are now logged in as {{getCurrentUserName()}}.
        </div>
        <router-outlet>
        </router-outlet>
    </main>

    <footer class="footer">
        <mat-divider></mat-divider>
        <div fxLayout="row">
            <div fxLayoutAlign="start" class="accent-color">
                &nbsp;
            </div>
            <span class="menu-spacer"></span>
            <div fxLayoutAlign="end center" class="accent-color">
                <span>&copy; Mean demo - Parthiban Sekar 2021</span>
            </div>
        </div>
    </footer>
</div>