<mat-card>
    <div class="rating-summary" fxFlexLayout="column" fxLayoutAlign="center center">
        <div>
            <app-rating-stars [rating]="location.rating" [displayRating]="true"
                [reviewsCount]="location.reviews.length">
            </app-rating-stars>
        </div>
    </div>
    <mat-card-header>
        <mat-card-title>Customer reviews
            <mat-icon matTooltip="Reviews are checked routinely to detect any offensive content and spam."
                class="hint-icon">help_outline</mat-icon>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div *ngIf="location.reviews.length">
            <div *ngFor="let review of location.reviews | mostRecentFirst" fxLayout="column" fxLayoutGap="1vh">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                    <div class="reviewAuthor">{{ review.author }}</div>
                    <div>
                        <app-rating-stars [rating]="review.rating">
                        </app-rating-stars>
                    </div>
                </div>
                <div>
                    <p [innerHTML]="review.reviewText | addLineBreaks" class="reviewText"></p>
                </div>
            </div>
        </div>
        <div>
            <button type="button" color="primary" (click)="OpenNewReviewDialog()" mat-raised-button>Write a review</button>
        </div>
    </mat-card-content>
</mat-card>
