<div *ngIf="locations$ | async as locations; else searching">
    <div *ngIf="locations.length > 0; else noLocationsFound">
        <mat-card #contentBlock *ngFor="let location of locations">
            <div flexLayout="row">
                <div fxFlex>
                    <h1>
                        <a routerLink="/location/{{location._id}}" class="primary-color">{{location.name}}</a>
                    </h1>
                </div>
                <div fxFlexAlign="center end">
                    <mat-chip-list>
                        <mat-chip disableRipple="true" color="accent" selected>{{location.distance | distance}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div flexLayout="row">
                <div fxFlexAlign="start">
                    <app-rating-stars [rating]="location.rating"></app-rating-stars>
                </div>
            </div>
            <div class="address">
                <p>{{location.address}}</p>
            </div>
            <div>
                <span class="facility" *ngFor="let facility of location.facilities">
                    <mat-icon>check</mat-icon> {{facility}}
                </span>
            </div>
        </mat-card>
    </div>
    <ng-template #noLocationsFound>
        <mat-card class="warn-color">No locations found!</mat-card>
    </ng-template>
</div>
<ng-template #searching>
    <mat-card class="accent-color">Searching for nearby places...</mat-card>
</ng-template>