<mat-card>
    <mat-card-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <div class="sub-header">
                Logger Configuration
            </div>
            <div>
                <mat-chip-list [selectable]="false">
                    <mat-chip [color]="loggerColor" [selected]="currentLogLevel !== NgxLoggerLevel.OFF">
                        {{NgxLoggerLevel[currentLogLevel]}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-content" fxLayout="column" fxLayoutGap="2vh" fxLayoutAlign.lt-sm="start center">
        <div fxLayout="row wrap" fxLayoutGap="1vw" class="log-levels">
            <button mat-stroked-button (click)="handleButtonClick(NgxLoggerLevel.OFF)">Off</button>
            <button mat-flat-button color="accent" (click)="handleButtonClick(NgxLoggerLevel.INFO)">Info</button>
            <button mat-flat-button color="warn" (click)="handleButtonClick(NgxLoggerLevel.ERROR)">Error</button>
        </div>
        <div fxLayout="column" class="log-slides">
            <mat-slide-toggle (change)="disableFileDetailsChange($event)" color="primary"
                matTooltip="The file name and line won't be logged">Disable file details</mat-slide-toggle>
            <mat-slide-toggle class="server-logging" (change)="serverLoggingChange($event)" color="primary"
                matTooltip="The logger will send logs on a dummy url">Server logging</mat-slide-toggle>
        </div>
    </mat-card-content>
</mat-card>