<div>
    <div fxLayout="row" fxLayoutGap="1vw"  class="details">
        <div fxFlex="30" fxLayout="column" fxLayoutGap="2vh">
            <div>
                <mat-card>
                    <h2>Address</h2>
                    <div *ngIf="location.address">
                        {{location.address}}
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h2>Opening hours</h2>
                    <div *ngFor="let openingTime of location.openingTimes" [ngSwitch]="openingTime.closed">
                        <span *ngSwitchCase="true">
                            closed
                        </span>
                        <span *ngSwitchDefault>
                            {{openingTime.days}}: {{openingTime.opening}} - {{openingTime.closing}}
                        </span>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h2>Facilities</h2>
                    <span *ngFor="let facility of location.facilities" class="badge  badge-warning">
                        <mat-icon>check</mat-icon> {{facility}}
                    </span>
                </mat-card>
            </div>
        </div>
        <div fxFlex="40" fxLayoutAlign="start start">
            <mat-card class="map">
                <h2>Location map</h2>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location.coords.coordinates[1]}},{{location.coords.coordinates[0]}}&zoom=17&size=300x240&sensor=false&markers={{location.coords.coordinates[1]}},{{location.coords.coordinates[0]}}&key={{gApiKey}}&scale=2"
                    mat-card-image />
            </mat-card>
        </div>
        <div fxFlex="30">
            <mat-card>
                <h2>Customer reviews</h2>
                <mat-card-content>
                    <div *ngIf="location.reviews.length">
                        <div *ngFor="let review of location.reviews | mostRecentFirst" fxLayout="column"
                            fxLayoutGap="1vh">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
                                <div class="reviewAuthor">{{ review.author }}</div>
                                <div>
                                    <app-rating-stars [rating]="review.rating">
                                    </app-rating-stars>
                                </div>
                            </div>
                            <div>
                                <p [innerHTML]="review.reviewText | addLineBreaks" class="reviewText"></p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<!-- <div>
    <div>
        <mat-card>
            <mat-card-content>
                <div class="row mb-3">
                    <div class="col-8">
                        <h2 class="card-title">Customer reviews</h2>
                    </div>
                    <div class="col-4" *ngIf="isLoggedIn(); else LogIn">
                        <button type="button" class="btn btn-primary float-end" (click)="showForm = true;">
                            Add review
                        </button>
                    </div>
                    <ng-template #LogIn>
                        <div class="col-4">
                            <a routerLink="/login" class="btn btn-primary float-end">
                                Log in to post review
                            </a>
                        </div>
                    </ng-template>
                </div>
                <div *ngIf="showForm" class="mb-3">
                    <div *ngIf="formError" class="alert alert-danger mt-2" role="alert">
                        {{formError}}
                    </div>
                    <form [formGroup]="reviewForm" (ngSubmit)="onReviewSubmit()">
                        <h4>Add your review</h4>
                        <div class="row form-group">
                            <label for="rating" class="col-sm-2 col-form-label">Rating</label>
                            <div class="col-sm-10 col-md-4">
                                <select formControlName="rating" class="form-control"
                                    [ngClass]="{'is-invalid': reviewSubmitted && controls.rating.errors }">
                                    <option [ngValue]="5">5</option>
                                    <option [ngValue]="4">4</option>
                                    <option [ngValue]="3">3</option>
                                    <option [ngValue]="2">2</option>
                                    <option [ngValue]="1">1</option>
                                </select>
                                <div *ngIf="reviewSubmitted && controls.rating.errors?.required"
                                    class="invalid-feedback">
                                    Please select a rating
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="review" class="col-sm-2 col-form-label">Review</label>
                            <div class="col-sm-10">
                                <textarea formControlName="reviewText" class="form-control" rows="5"
                                    [ngClass]="{'is-invalid': reviewSubmitted && controls.reviewText.errors}">
                                </textarea>
                                <div *ngIf="reviewSubmitted && controls.reviewText.errors?.required"
                                    class="invalid-feedback">
                                    Please write a review.
                                </div>
                            </div>
                        </div>
                        <div class="row formgroup">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary float-end" style="margin-left:15px">
                                    Submit review
                                </button>
                                <button type="button" class="btn btn-default float-end" (click)="showForm = false;">
                                    cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
</div> -->