<app-page-header [title]="title"></app-page-header>
<div>
    <div>
        <p>Not a member? Please
            <a routerLink="/register" class="embedded-link" mat-button>register!</a>
        </p>
        <form [formGroup]="loginForm" (submit)="onLoginSubmit()">
            <mat-error *ngIf="formErrors" role="alert">
                {{formErrors}}
            </mat-error>
            <div>
                <mat-form-field appearance="standard" fxFlex.lg="40" fxFlex="90">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && controls.email.errors }">
                    <mat-error *ngIf="submitted && controls.email.errors?.required" class="invalid-feedback">
                        Please enter your email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard" fxFlex.lg="40" fxFlex="90">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" autocomplete="new-password" color="accent"
                        [type]="hidePassword ? 'password' : 'text'"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" color="accent"
                        type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="submitted && controls.password.errors?.required" class="invalid-feedback">
                        Please enter your password
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" color="primary">Sign in</button>
            </div>
        </form>
    </div>
</div>