doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src="/js/jquery.min.js") 
    script(src="/js/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")

    header
      nav.navbar.fixed-top.navbar-light.navbar-expand-lg
        .container
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain', aria-controls='navbarMain', aria-expanded='false')
            span.navbar-toggler-icon
          #navbarMain.navbar-collapse.collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/about/') About

    main.container(role='main')
      block content

      block scripts

    footer.footer
      .container
        hr
        span
          small &copy; Getting Mean - Parthiban Sekar 2021

