extends layout 

include _includes/shared-functions

block content
  app-framework

block scripts
  script(src="/build/runtime.953fb7dc503a65ac4830.js")
  script(src="/build/polyfills.ba9d623b09987d4af1a3.js")
  script(src="/build/main.908062bf985d4f0d8de5.js") 
