extends layout 

include _includes/shared-functions

block content
  app-home-list

block scripts
  script(src="/build/runtime.953fb7dc503a65ac4830.js")
  script(src="/build/polyfills.ba9d623b09987d4af1a3.js")
  script(src="/build/main.db14f5b7796beb5d4539.js") 
