extends layout 

include _includes/shared-functions

block content
  app-home-list

block scripts
  script(src="/build/runtime.953fb7dc503a65ac4830.js")
  script(src="/build/polyfills.ba9d623b09987d4af1a3.js")
  script(src="/build/main.c0c1b01aeb1ade1a7f59.js") 
