@use '~@angular/material' as mat;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@angular/material/theming";

@include mat.core();

//mixins
@mixin html-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  html {
    height: 100vh;
    background-color: mat-color($background);
  }

  //Input element colour was not changing when switching themes
  .mat-input-element {
    color: mat-color($accent) !important;
    font-weight: bold;
  }

  .accent-color {
    color: mat-color($accent) !important;
  }

  .primary-color {
    color: mat-color($primary) !important;
  }

  .warn-color {
    color: mat-color($warn) !important;
  }

  .hint-icon {
    color: mat-color($primary);
  }

  //log levels
  .mat-button-toggle-checked {
    &.info {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    &.warn {
      background-color: mat-color($warn);
      color: mat-color($warn, default-contrast);
    }
  }

  .mat-card-header .mat-card-title {
    font-family: "Lobster", cursive !important;
    @extend .accent-color;
  }

  .legend {
    font-family: "Lobster", cursive !important;
    @extend .accent-color;
  }

  // To embed links with the texts
  .embedded-link {
    font: inherit;
    padding: 0 !important;
    text-align: left !important;
    text-decoration: underline !important;

    :hover {
      color: mat-color($accent) !important;
      text-decoration: underline !important;
      text-decoration-color: mat-color($accent) !important;
      font-weight: bold;
    }
  }
}

//define a light theme
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink);
$light-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include html-theme($light-theme);
}

// Define a dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include html-theme($dark-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar mat-toolbar-row,
main,
.footer-content {
  padding-right: 2.5% !important;
  padding-left: 2.5% !important;
}

.footer {
  position: fixed;
  bottom: 0;
  min-height: 1vh;
  min-width: 100vw;
}

.footer *  {
  height: 5vh !important;
}

main {
  margin-top: 1vh;
  margin-bottom: 1vh;
  min-height: 86vh !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 * {
  font-family: "Lobster", cursive !important;
  font-weight: 400 !important;
  margin-bottom: 2vh !important;
}

h1 {
  font-size: 2em !important;
}
h2 {
  font-size: 1.5em !important;
}
h3 {
  font-size: 1.17em !important;
}
h4 {
  font-size: 1em !important;
}
h5 {
  font-size: 0.83em !important;
}
h6 {
  font-size: 0.75em !important;
}

.mat-icon {
  vertical-align: middle !important;
}
