@import "~@angular/material/theming";
@import "./custom-theme.scss";
@import url("//fonts.googleapis.com/css?family=Lobster");

$subheader-fs:14pt;

.main-title {
  font-family: "Lobster", cursive !important;
  font-weight: 600;
  font-size: x-large;
}

.sub-header{
  font-size: $subheader-fs;
}

.reviewText{
  font-style: italic;
  font-weight: 300;
}

.reviewAuthor{
  font-weight: bold;
}

.card-content{
  margin-left: 1vw !important;
}
.mat-card-image{
  margin-top: 1vh !important;
}