@import "~@angular/material/theming";
@import "./custom-theme.scss";
@import url("//fonts.googleapis.com/css?family=Lobster");

$subheader-fs: 14pt;

.main-title {
  font-family: "Lobster", cursive !important;
  font-weight: 600;
  font-size: x-large;
}

.sub-header {
  font-size: $subheader-fs;
}

.reviewText {
  font-style: italic;
  font-weight: 300;
}

.reviewAuthor {
  font-weight: bold;
}

.rating-summary {
  margin: 0 1vw !important;
}

.rating-summary-divider {
  width: 10vw !important;
  margin-bottom: 2vh !important;
}

.card-content {
  margin: 0 1vw !important;
}

.map .card-content {
  margin-top: 1.5vh !important;
}


// .access-card {
//   margin-top: 10vh;
//   width: 50vw !important;
// }
